conf/phenote-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="phenote/config/xml" xmlns:x="phenote/config/xml">
  <xs:element name="phenote-configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="x:master-to-local-config"/>
        <xs:element ref="x:log"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:externaldb"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:dataadapter"/>
        <xs:element ref="x:uvic-graph"/>
        <xs:element ref="x:term-history"/>
        <xs:element ref="x:auto-update-ontologies"/>
        <xs:element ref="x:update-timer"/>
        <xs:element ref="x:obo-repository"/>
        <xs:element ref="x:autocomplete-settings"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:field"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:group"/>
        <xs:element ref="x:data-input-servlet"/>
        <xs:element ref="x:character-mode"/>
        <xs:element ref="x:ontologyLoading"/>
        <xs:element ref="x:field-panel-tabs"/>
      </xs:sequence>
      <xs:attribute name="version" use="required" type="xs:string"/>
      <xs:attribute name="description" use="required" type="xs:string"/>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="author" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="master-to-local-config">
    <xs:complexType>
      <xs:attribute name="mode" use="required" type="xs:string"/>
      <xs:attribute name="when" use="required" type="xs:string"/>
      <xs:attribute name="overriding-master-url" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataadapter">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="is-queryable" use="required" type="xs:boolean"/>
      <xs:attribute name="enable" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="externaldb">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="path" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="log">
    <xs:complexType>
      <xs:attribute name="config-file" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="uvic-graph">
    <xs:complexType>
      <xs:attribute name="enable" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="data-input-servlet">
    <xs:complexType>
      <xs:attribute name="enable" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="term-history">
    <xs:complexType>
      <xs:attribute name="enable" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="field-panel-tabs">
    <xs:complexType>
      <xs:attribute name="enable" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ontologyLoading">
    <xs:complexType>
      <xs:attribute name="showLoadingScreen" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="auto-update-ontologies">
    <xs:complexType>
      <xs:attribute name="enable" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="update-timer">
    <xs:complexType>
      <xs:attribute name="timer" use="required" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="autocomplete-settings">
    <xs:complexType>
      <xs:attribute name="term" use="required" type="xs:boolean"/>
      <xs:attribute name="synonym" use="required" type="xs:boolean"/>
      <xs:attribute name="definition" use="required" type="xs:boolean"/>
      <xs:attribute name="obsolete" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="character-mode">
    <xs:complexType>
      <xs:attribute name="mode" use="required">
        <xs:annotation>
          <xs:documentation>type of character to use</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="CHARACTER"/>
            <xs:enumeration value="OBO_ANNOTATION"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapping" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="obo-repository">
    <xs:complexType>
      <xs:attribute name="url-dir" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="field">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="x:postcomp"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:ontology"/>
      </xs:sequence>
      <xs:attribute name="obo-relation" use="required" type="xs:string">
        <xs:annotation>
          <xs:documentation>what relation to use in mapping field to obo annotation</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="enable" use="required" type="xs:boolean"/>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="colwidth" use="required" type="xs:int"/>
      <xs:attribute name="desc" use="required" type="xs:string"/>
      <xs:attribute name="datatag" use="required" type="xs:string">
        <xs:annotation>
          <xs:documentation>tag for field, replaces syntax-abbrev</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="syntax-abbrev" use="required" type="xs:string">
        <xs:annotation>
          <xs:documentation>tag for field for pheno-syntax adapter - replaced by datatag</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="FREE_TEXT"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="INT"/>
            <xs:enumeration value="ID"/>
            <xs:enumeration value="READ_ONLY"/>
            <xs:enumeration value="DATE"/>
            <xs:enumeration value="HIDDEN"/>
            <xs:enumeration value="free_text"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="tab" use="required" type="xs:string"/>
      <xs:attribute name="file" use="required" type="xs:string"/>
      <xs:attribute name="filter-out" use="required" type="xs:string"/>
      <xs:attribute name="slim" use="required" type="xs:string"/>
      <xs:attribute name="repos-subdir" use="required" type="xs:string"/>
      <xs:attribute name="groups" type="xs:IDREFS"/>
      <xs:attribute name="copy-field" use="required" type="xs:boolean"/>
      <xs:attribute name="min-completion-chars" use="required" type="xs:int"/>
      <xs:attribute name="sort-by" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="NAME"/>
            <xs:enumeration value="ID"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isList" use="required" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>if true then field can have multiple values, use list gui</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ontology">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:string"/>
      <xs:attribute name="file" use="required" type="xs:string">
        <xs:annotation>
          <xs:documentation>obo file for ontology</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="namespace" use="required" type="xs:string"/>
      <xs:attribute name="filter-out" use="required" type="xs:string">
        <xs:annotation>
          <xs:documentation>filter out replaced by namespace, pase'</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="slim" use="required" type="xs:string"/>
      <xs:attribute name="repos-subdir" use="required" type="xs:string"/>
      <xs:attribute name="is-postcomp-rel" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="group">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:templatechooser"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:ID"/>
      <xs:attribute name="container" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="window"/>
            <xs:enumeration value="tab"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="interface" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="default"/>
            <xs:enumeration value="character-template"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="title" use="required" type="xs:string"/>
      <xs:attribute name="group_adapter" use="required" type="xs:string"/>
      <xs:attribute name="destination_field" use="required" type="xs:string"/>
      <xs:attribute name="show" type="xs:IDREFS">
        <xs:annotation>
          <xs:documentation>what components to show for group, ie "TermInfo Table Editor" space delim</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="fieldsPerPanel" type="xs:int">
        <xs:annotation>
          <xs:documentation>number of fields per panel, then make new tab, 0 for all in 1</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="templatechooser">
    <xs:complexType>
      <xs:attribute name="title" use="required" type="xs:string">
        <xs:annotation>
          <xs:documentation>title is for the user interface</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="adapter" use="required" type="xs:string">
        <xs:annotation>
          <xs:documentation>adapter is class which implement TemplateChooser interface</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="field" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="postcomp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:ontology">
          <xs:annotation>
            <xs:documentation>do we need this??</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="relationship-ontology" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
