conf/phenote-config.rnc

default namespace = "phenote/config/xml"
##default namespace = "http://phenote/config/xml"

start =
  element phenote-configuration {
    dataadapter*,
    field*
  }

dataadapter =
  element dataadapter {
    ## for now just 2 dataadapters, phenoxml & phenosyntax
    attribute name {"phenoxml" | "phenosyntax"}
  }

field = 
  element field {
    attribute name { "Pub" | "Genotype" | "Genetic Context" | "Entity" | "Quality" },
    ## whether field is free text or constrained by ontology - take out?
    ## this is actually unnecasary - if there is no file free text is assumed    
    attribute type { "free_text" | "ontology" },  
    ## file is for single ontology - rename ontology_file?  
    attribute file { text },
    ontology*
  } 

ontology =
  element ontology {
    attribute name { text },
    ## obo file for ontology
    attribute file { text }
  }
