conf/phenote-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="phenote/config/xml" xmlns:x="phenote/config/xml">
  <xs:element name="phenote-configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="x:check-for-new-ontologies"/>
        <xs:element ref="x:log"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:dataadapter"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:field"/>
      </xs:sequence>
      <xs:attribute name="version" use="required" type="xs:float"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataadapter">
    <xs:complexType>
      <xs:attribute name="name" use="required">
        <xs:annotation>
          <xs:documentation>for now just 2 dataadapters, phenoxml &amp; phenosyntax</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="phenoxml"/>
            <xs:enumeration value="phenosyntax"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="check-for-new-ontologies">
    <xs:complexType>
      <xs:attribute name="intervalMinutes" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="log">
    <xs:complexType>
      <xs:attribute name="config-file" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="field">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="x:ontology"/>
      </xs:sequence>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Pub"/>
            <xs:enumeration value="Genotype"/>
            <xs:enumeration value="Genetic Context"/>
            <xs:enumeration value="Entity"/>
            <xs:enumeration value="Quality"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="free_text"/>
            <xs:enumeration value="ontology"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="file" use="required">
        <xs:annotation>
          <xs:documentation>file is for single ontology - rename ontology_file?  </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ontology">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="file" use="required">
        <xs:annotation>
          <xs:documentation>obo file for ontology</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="filter-out" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
